### macOS ###
# General
.DS_Store

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
.python-version

# # pipenv
# Pipfile.lock

# # poetry
# poetry.lock

# Environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

### VisualStudioCode ###
.vscode/

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# image files
src/data/images
